svg,
rect,
ellipse,
stop,
polygon,
path {
  transition: var(--ease);
}

.icon-wrap:hover {
  transform: translateY(-0.2rem);
}

.icon-wrap {
  width: fit-content;
  margin: 0.5rem;
  transition: var(--ease);
}
