:root {
  --pr-black: #343434;
  --pr-grey: #393939;
  --emph-black: #111111;
  --pr-white: #f4f4f4;
  --off-white: #f9f9f9;
  --grey-text: #c4c4c4;
  --btn: #dbcac7;
  --ease: all 0.7s ease;
  --shadow: rgba(0, 0, 0, 0.25) 0px 4px 16px;
  --radius: 0.3rem;
  --font: 'Jost', sans-serif;
}

html {
  font-size: 14px;
}

body {
  margin: 0;
  font-family: var(--font);
  font-size: 1em;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--pr-black);
  background-color: var(--off-white);
  transition: var(--ease);
}

.dark {
  --pr-white: #343434;
  --off-white: #373737;
  --pr-black: #f4f4f4;
  --pr-grey: #d9d9d9;
  --emph-black: #eeeeee;
}

.bold {
  font-weight: 500;
}

@media only screen and (min-width: 989px) {
  html {
    font-size: 16px;
  }
}
