.thumbnail-cont {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: var(--ease);
  cursor: pointer;
}

.thumbnail-cont img {
  object-fit: fill;
}

.thumbnail-text {
  width: fit-content;
  display: flex;
  color: var(--pr-grey);
}

.thumbnail-text > p {
  margin: 0 1rem 0 0;
}

.thumbnail {
  height: 100%;
  white-space: nowrap;
  transition: var(--ease);
}

.thumbnail:hover {
  transform: translateY(-0.5rem);
}
