.sticky-socials {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: var(--pr-white);
  border-top-left-radius: var(--radius);
  box-shadow: var(--shadow);
  z-index: 1;
}

.sticky-icons {
  margin: 0.5rem 0;
  font-size: 1.2em;
  color: var(--pr-grey);
  transition: var(--ease);
  cursor: pointer;
}

.sticky-icons:hover,
.sticky-icons:focus {
  color: var(--pr-black);
  transform: scale(1.05);
}

.sticky-icons:active {
  color: var(--pr-black);
  transform: scale(0.95);
}

.underline {
  padding-top: 0.5rem;
  border-top: 1px solid var(--pr-grey);
}
